$iconWidth: 35px;
@import "./../mixins";

.MainSearchDiv {
  font-family: cursive;
  margin: auto;
  margin-top: 1%;
  width: 100%;
  .SearchBarDiv {
    font-family: cursive;
    position: relative;
    display: flex;
    align-items: center;
    .SearchIcon {
      z-index: 2;
      position: absolute;
      max-width: $iconWidth;
      min-width: $iconWidth;
      left: calc($iconWidth/3);
      padding-right: 10px;
      color: rgba(0, 0, 0, 0.5);
    }
    .SearchBarClearLabel {
      position: absolute;
      text-decoration: underline;
      font-size: small;
      left: calc(100% - 50px);
      z-index: 1;
    }

    .SearchBarInput {
      @include SearchBarInput;
      box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.1);
      transition: 6s;
    }
    .SearchBarInputFull {
      @include SearchBarInput;
      transition: 0.5s;
      box-shadow: -1px -9px 10px -4px rgba(0, 0, 0, 0.1);
    }
  }
}
